$primary-color: #193176;
$text-color: #321E01;
$success-color: #22863B;
$warning-color: #BF7402;
$alert-color: #CD4737;
$background-color: #EFECE7;
$gray-color: #D6D0C2;
$dark-color: #7A6E52;

//?Breakpoints
$breakpoint-tablet: 854px;
$breakpoint-mobile: 413px;