@import url("../utils/_variables.scss");

#form-params{
    
    display: flex;
    flex-wrap: wrap;

    @media only screen and (max-width: $breakpoint-tablet) {
        flex-direction: column;
    }

    
    
    #contact{
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;

        form{
            display: flex;
            flex-direction: column;
            input{
                flex: auto;
                padding: 0.3rem;
            }
            label{
                margin-bottom: 0.3rem;
            }
            .space{
                margin-bottom: 0.8rem;
            }
        }
    }

    #recommendations{


        @media only screen and (max-width: $breakpoint-tablet) {
            margin: 1rem 0 1rem 0;
            order: -1;

        }

        flex: 1;
        margin-left: 3.5rem;

        h3, p{
            margin-top: 0;
        }

        h4{
            margin-top: 0.2rem;
            margin-left: 0.5rem;
        }

        img{
            width: 48px;
            height: 48px;
            border-radius: 50px;
        }
        
        .recoms-card{
            margin-bottom: 3rem;

            @media only screen and (max-width: $breakpoint-tablet){
                margin-bottom: 0;
            }
        }

        .recoms-person{
            display: flex;
        }

    }

}