#main-section{
    margin: 3% 15% 0 15%;
   line-height: 1.4rem;

    #david-presentation{
        display: flex;
        p{
            margin: 0 0 0 1rem;
            padding: 0;
        }
        img{
            width: 111px;
            height: 111px;
            transform: rotateY(3.124rad);
        }
    }


    margin-bottom: 7rem;
}